"*":
  "atom-beautify":
    general:
      _analyticsUserId: "8400d419-6413-4b64-abbb-ff74be81f4df"
  "atom-package-deps":
    ignored: []
  "atom-pair":
    hipchat_room_name: "Development"
    hipchat_token: "25c55e66d9fa87f5fb816ba2cfd043"
  "autoclose-html": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "symbols-view"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    softWrap: true
    softwrap: true
  "exception-reporting":
    userId: "597319f5-3de2-6a40-3886-0acf4e7f778b"
  linter:
    showErrorPanel: false
  "linter-rubocop": {}
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "plantuml-viewer":
    graphvizDotExecutable: "/usr/bin/dot"
  "quick-editor":
    stylesDirectory: "app/assets/stylesheets"
  rspec:
    command: "docker exec -i legelisten_web_1 bin/rspec"
    save_before_run: true
  "tree-view": {}
  welcome:
    showOnStartup: false
