"*":
  "atom-pair":
    hipchat_room_name: "Development"
    hipchat_token: "25c55e66d9fa87f5fb816ba2cfd043"
  "autoclose-html":
    legacyMode: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "rspec"
      "rspec"
      "linter-reek"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    softWrap: true
    softwrap: true
  "exception-reporting":
    userId: "597319f5-3de2-6a40-3886-0acf4e7f778b"
  linter:
    showErrorPanel: false
  "linter-rubocop": {}
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "plantuml-viewer":
    graphvizDotExecutable: "/usr/bin/dot"
  rspec:
    command: "vagrant ssh --c 'cd legelisten; rspec'"
    save_before_run: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
